= form_for @question, html: { class: "form-horizontal", role: "form" } do |f|
  -if @question.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@quiz.errors.count, "error")} prohibited this quiz from being saved:"

      %ul
        - @quiz.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :question, class: 'col-sm-2 control-label'
    = f.text_field :question
    %br
    %br
    %dl.dl-horizontal
      -#@question.answer.options.each.with_index(1) do |answer, index|
        %dt
          = "option #{index}"
        %dd
          = fields_for :answer_attributes, @question.answer do |option_fields|
            = option_fields.text_field :options
        %br

  = @question.answer.correct

  %br
  %br
  .col-sm-offset-2.col-sm-10
    = f.submit class: 'btn btn-primary'
