.page-header
  = link_to url_for(:back), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_question_path(@question), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show Question

%dl.dl-horizontal
  %dt Question:
  %dd= @question.question
  %br
  %dt Questions:
  %dd
    %br
    %dl.dl-horizontal
      -@question.answers.each.with_index(1) do |answer, index|
        %dt
          = "option #{index}"
        %dd
          =answer
        %br
  %br
  %dt Correct:
  %dd= @question.answers
