= form_for @semester, html: { class: "form-horizontal", role: "form" } do |f|
  -if @semester.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@semester.errors.count, "error")} prohibited this semester from being saved:"

      %ul
        - @semester.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :year, class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :year, options_for_select(Time.now.year-5..Time.now.year+5), class: "form-control"
  .form-group
    = f.label :academic_term, class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :academicterm, class: "js-switch",  "data-off-text": t(:fall), "data-on-text": t(:spring)
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
