.page-header
  = link_to new_semester_path, class: "btn btn-primary #{can_class(:create, Semester)}" do
    %span.glyphicon.glyphicon-plus
    =t(:new_semester)
  %h1=t(:listing_semesters)

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.col-sm-1=t(:year)
        %th=t(:academic_term)
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @semesters.each do |semester|
        %tr
          %td= semester.year
          %td= semester.semester_name_concat
          %td= link_to t(:show), semester, class: "btn btn-primary #{can_class(:show, semester)}"
          %td= link_to t(:edit), edit_semester_path(semester), class: "btn btn-warning #{can_class(:update, semester)}"
          %td= link_to t(:destroy), semester, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-danger #{can_class(:destroy, semester)}"

= paginate @semesters
