.page-header
  = link_to new_semester_path, class: "btn btn-primary #{can_class(:create, Semester)}" do
    %span.glyphicon.glyphicon-plus
    New Semester
  %h1 Listing semesters

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.col-sm-1 Year
        %th Academic Term
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @semesters.each do |semester|
        %tr
          %td= semester.year
          %td= semester.semester_name_concat
          %td= link_to "Show", semester, class: "btn btn-primary #{can_class(:show, Semester)}"
          %td= link_to "Edit", edit_semester_path(semester), class: "btn btn-warning #{can_class(:update, Semester)}"
          %td= link_to "Destroy", semester, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger #{can_class(:destroy, Semester)}"

= paginate @semesters
