.page-header
  = link_to semesters_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    =t(:back)
  &nbsp
  = link_to edit_semester_path(@semester), class: "btn btn-primary #{can_class(:update, @semester)}" do
    %span.glyphicon.glyphicon-pencil
    =t(:edit)
  %h1=t(:show_semester)

%dl.dl-horizontal
  %dt=t(:year)
  %dd= @semester.year
  %dt=t(:academic_term)
  %dd= @semester.semester_name_concat
  %br
  %dt=t(:groups)
  %dd
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th.col-sm-2= t(:group_id)
            %th.col-sm-10= t(:group_name)
        %tbody
          -@semester.groups.each do |group|
            %tr
              %td= group.group_id
              %td
                - if can? :show, group
                  =link_to group.name, group_path(group)
                - else
                  = group.name
