= form_for @quiz, html: { class: "form-horizontal", role: "form" } do |f|
  -if @quiz.errors.any?
    .alert.alert-danger.alert-dismissable{ role: "alert" }
      %button.close{ type: "button", data: { dismiss: "alert" } }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@quiz.errors.count, "error")} prohibited this quiz from being saved:"

      %ul
        - @quiz.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :add_to_groups, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select(:group_ids, current_professor.groups, :id, :name,
      {include_hidden: false}, { id: 'include_groups_in_quiz', class: 'form-control', multiple: true })

  -# ***** questions *****
  .form-group
    = f.label :add_questions, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.fields_for :questions do |question|
        = render 'question_fields', f: question
      .links
        = link_to_add_association button_tag('Add Question', class: "btn btn-success"), f, :questions
    %br
    %br
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
