= form_for @quiz, html: { class: "form-horizontal", role: "form" } do |f|
  -if @quiz.errors.any?
    .alert.alert-danger.alert-dismissable{ role: "alert" }
      %button.close{ type: "button", data: { dismiss: "alert" } }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= t("errors.template.header", count: @quiz.errors.count, model: Quiz.model_name.human)

      %ul
        - @quiz.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label t(:add_to_groups), class: "col-sm-2 control-label"
    .col-sm-10
      = f.collection_select(:group_ids, current_professor.groups, :id, :name,
      {include_hidden: true}, { id: "include_groups_in_quiz", class: "form-control", multiple: true })

  .form-group
    = f.label t(:add_to_others_groups), class: "col-sm-2 control-label"
    .col-sm-10
      = collection_select(nil, :others_group_ids, Group.where.not(professor_id: current_professor.id), :id, :name,
      {include_hidden: false, selected: @quiz.groups.map(&:id)}, {id: "include_others_groups_in_quiz", class: "form-control", multiple: true })

  .form-group
    = f.label t(:status), class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :active, class: "toggle-quiz",  "data-on-text": t(:on_off), "data-off-text": t(:off_on)

  -# ***** question-categories *****
  .form-group
    = f.label t(:add_questions), class: "col-sm-2 control-label"
    .col-sm-10
      = f.fields_for :question_categories, f.object.question_categories do |question_category|
        = render "question_category_fields", f: question_category
      .links
        = link_to_add_association button_tag(t(:add_question_category), class: "btn btn-primary"), f, :question_categories

    .col-sm-offset-2.col-sm-10
      %br
      -if @quiz.persisted?
        = f.submit class: "btn-lg btn-primary", data: { confirm: t(:by_updating_quiz_all_existing_answers_submitted_by_students_will_be_deleted) }
      -else
        = f.submit class: "btn-lg btn-primary"
