= form_for @quiz, html: { class: "form-horizontal", role: "form" } do |f|
  -if @quiz.errors.any?
    .alert.alert-danger.alert-dismissable{ role: "alert" }
      %button.close{ type: "button", data: { dismiss: "alert" } }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= t("errors.template.header", count: @quiz.errors.count, model: Quiz.model_name.human)

      %ul
        - @quiz.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label t(:add_to_groups), class: "col-sm-2 control-label"
    .col-sm-10
      = f.collection_select(:group_ids, current_professor.groups, :id, :name,
      {include_hidden: true}, { id: "include_groups_in_quiz", class: "form-control", multiple: true })

  .form-group
    = f.label t(:add_to_others_groups), class: "col-sm-2 control-label"
    .col-sm-10
      = collection_select(nil, :others_group_ids, Group.where.not(professor_id: current_professor.id), :id, :name,
      {include_hidden: false, selected: @quiz.groups.map(&:id)}, {id: "include_others_groups_in_quiz", class: "form-control", multiple: true })

  .form-group
    = f.label t(:status), class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :active, class: "toggle-quiz",  "data-on-text": t(:on_off), "data-off-text": t(:off_on)

  .form-group
    = f.label t(:questions_per_quizzes), class: "col-sm-2 control-label"
    .col-sm-10
      = f.number_field :questions_per_quizzes, class: "questions-per-quizzes"

  -# ***** questions *****
  .form-group
    = f.label t(:add_questions), class: "col-sm-2 control-label"
    .col-sm-10
      = f.fields_for :questions do |question|
        = render "question_fields", f: question
      .links
        = link_to_add_association button_tag(t(:add_question), class: "btn btn-primary"), f, :questions

    .col-sm-offset-2.col-sm-10
      %br
      = f.submit class: "btn-lg btn-primary"
