.nested-fields.second-nested-fields
  %fieldset.questions-fieldset
    %legend.questions-legend
      = f.label t(:question)

    = link_to_remove_association button_tag("X", class: "btn btn-danger custom-close"), f

    .questions
      = f.text_area :content, class: "question-content"

    = f.fields_for :answers do |answer|
      = render "answer_fields.html.haml", f: answer

    .links
      = link_to_add_association button_tag(t(:add_answer), class: "btn btn-success"), f, :answers
    %br
%br
