.page-header
  = link_to new_quiz_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Quiz
  %h1 Listing quizzes

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.col-sm-1 Quiz ID
        %th Groups
        %th.col-sm-1 Status
        %th.col-sm-1 Weight
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1
    %tbody
      - @quizzes.each.with_index(1) do |quiz, index|
        %tr
          %td= index
          %td
            %ul
              - quiz.groups.each do |group|
                %li
                  = group.name
          %td= check_box_tag(:active, quiz.id, quiz.active, {class: 'toggle-quiz'})
          %td= total_weight(quiz)
          %td= link_to 'Show', quiz, class: "btn btn-primary"
          %td= link_to 'Edit', edit_quiz_path(quiz), class: "btn btn-warning"
          %td= link_to 'Destroy', quiz, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger"
