.page-header
  = link_to quizzes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  &nbsp
  = link_to edit_quiz_path(@quiz), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show quiz

%dl.dl-horizontal
  %dt Belongs To Groups:
  %dd
    %ul
      - @quiz.groups.each do |group|
        %li
          = group.name

  %dt Status:
  %dd
    = @quiz.active ? "Quiz is actived" : "Quiz is deactivated"
  %br
  %dt Weight:
  %dd
    = total_weight(@quiz)
  %br
  %dt Questions:
  %dd
    %ol
      - @quiz.questions.each do |question|
        %li= "(#{question.weight}) - #{question.content}"
        %ol{type: "A", class: "answerList"}
          -question.answers.oldest_first.each do |answer|
            %li{class: "#{answer.correct ? 'tick' : 'cross'  }"}
              =answer.content
