.page-header
  = link_to quizzes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_quiz_path(@quiz), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show quiz

%dl.dl-horizontal
  %dt Belongs To Groups:
  %dd
    - @quiz.groups.each do |group|
      = group.name
      %br/
  %br
  %dt Questions:

  - @quiz.questions.each.with_index(1) do |question, index|
    %dd
      %span.ordered_list= "#{index})"
      =link_to question.content, question_path(question)
    %br
