.page-header
  = link_to quizzes_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    Back
  &nbsp
  = link_to edit_quiz_path(@quiz), class: "btn btn-primary #{can_class(:update, @quiz)}" do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show quiz

%dl.dl-horizontal
  %dt Belongs To Groups:
  %dd
    %ul
      - @quiz.groups.each do |group|
        %li
          - if can? :show, group
            =link_to group.name, group_path(group)
          - else
            = group.name

  %dt Status:
  %dd
    = @quiz.active ? "Quiz is actived" : "Quiz is deactivated"
  %br
  %dt Weight:
  %dd
    = total_weight(@quiz)
  %br
  %dt Questions:
  %dd
    %ol
      - @quiz.questions.each do |question|
        %li= "(#{question.weight}) - #{question.content}"
        %ol{class: "answer-list"}
          -question.answers.oldest_first.each do |answer|
            %li{class: "#{answer.correct ? 'tick' : 'cross'  }"}
              =answer.content
