.page-header
  = link_to quizzes_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    =t(:back)
  &nbsp
  = link_to edit_quiz_path(@quiz), class: "btn btn-primary #{can_class(:update, @quiz)}" do
    %span.glyphicon.glyphicon-pencil
    =t(:edit)
  %h1=t(:show_quiz)

%dl.dl-horizontal
  %dt=t(:belongs_to_groups)
  %dd
    %ul
      - @quiz.groups.each do |group|
        %li
          - if can? :show, group
            =link_to group.name, group_path(group)
          - else
            = group.name

  %dt=t(:status)
  %dd
    = @quiz.active ? t(:on_off) : t(:off_on)
  %br
  %dt=t(:weight)
  %dd
    = total_weight(@quiz)
  %br
  %dt=t(:questions)
  %dd
    %ol
      - @quiz.questions.each do |question|
        %li= "(#{question.weight}) - #{question.content}"
        %ol{class: "answer-list"}
          -question.answers.oldest_first.each do |answer|
            %li{class: "#{answer.correct ? 'tick' : 'cross'  }"}
              =answer.content
