.page-header
  %h1=t(:listing_attempts)

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.col-sm-1=t(:course_name)
        %th.col-sm-1=t(:group_name)
        %th.col-sm-1=t(:student_id)
        %th.col-sm-1=t(:student_name)
        %th.col-sm-1=t(:completed)
        %th.col-sm-1=t(:score)
    %tbody
      - @attempts.each do |attempt|
        %tr
          %td= attempt.quiz_permutation.group.course.course_name_concat
          %td= attempt.quiz_permutation.group.name
          %td= attempt.student.student_id
          %td= attempt.student.name
          %td= raw attempt.completed? ? "&#x2713;" : "&#x2717;"
          %td= attempt.score

= paginate @attempts
