.page-header
  = link_to new_group_path, class: "btn btn-primary #{can_class(:create, Group)}" do
    %span.glyphicon.glyphicon-plus
    New Group
  %h1 Listing groups

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.col-sm-2 Group ID
        %th.col-sm-2 Name
        %th.col-sm-2 Semester
        %th Professor
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @groups.each do |group|
        %tr
          %td= group.group_id
          %td= group.name
          %td= group.semester.semester_name_concat
          %td= group.professor.name
          %td= link_to "Show", group, class: "btn btn-primary #{can_class(:show, Group)}"
          %td= link_to "Edit", edit_group_path(group), class: "btn btn-warning #{can_class(:update, Group)}"
          %td= link_to "Destroy", group, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger #{can_class(:destroy, Group)}"

= paginate @groups
