.page-header
  = link_to groups_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    Back
  &nbsp
  = link_to edit_group_path(@group), class: "btn btn-primary #{can_class(:update, @group)}" do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show group

%dl.dl-horizontal
  %dt Group ID:
  %dd= @group.group_id
  %dt Name:
  %dd= @group.name
  %dt Semester:
  %dd= @group.semester.semester_name_concat
  %dt Professor:
  %dd= @group.professor.name
  %br/
  %dt Students:
  %dd
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th.col-sm-2= t(:student_id)
            %th.col-sm-10= t(:student_name)
        %tbody
          -@group.students.each do |student|
            %tr
              %td= student.student_id
              %td
                - if can? :show, student
                  =link_to student.name, professors_student_path(student)
                - else
                  = student.name
