= form_for [:professors, @student], html: { class: "form-horizontal", role: "form" } do |f|
  -if @student.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@student.errors.count, "error")} prohibited this professors_student from being saved:"

      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label t(:name), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label t(:student_id), class: "col-sm-2 control-label"
    .col-sm-10
      = f.number_field :student_id, class: "form-control"
  .form-group
    = f.label t(:email), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :email, class: "form-control"
  .form-group
    = f.label t(:password), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :password, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
