.page-header
  = link_to new_professors_student_path, class: "btn btn-primary #{can_class(:create, Student)}" do
    %span.glyphicon.glyphicon-plus
    = :new_student
  %h1= :student_index

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= :name
        %th= :student_id
        %th= :email
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @students.each do |student|
        %tr
          %td= student.name
          %td= student.student_id
          %td= student.email
          %td.col-sm-1= link_to "Show", professors_student_path(student), class: "btn btn-primary #{can_class(:show, Student)}"
          %td.col-sm-1= link_to "Edit", edit_professors_student_path(student), class: "btn btn-warning #{can_class(:update, Student)}"
          %td.col-sm-1= link_to "Destroy", professors_student_path(student), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger #{can_class(:destroy, Student)}"

= paginate @professors_students
