.page-header
  = link_to new_professors_student_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = :new_student
  %h1= :student_index

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= :name
        %th= :student_id
        %th= :email
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @professors_students.each do |professors_student|
        %tr
          %td= professors_student.name
          %td= professors_student.student_id
          %td= professors_student.email
          %td.col-sm-1= link_to 'Show', professors_student_path(professors_student), class: "btn btn-primary"
          %td.col-sm-1= link_to 'Edit', edit_professors_student_path(professors_student), class: "btn btn-warning"
          %td.col-sm-1= link_to 'Destroy', professors_student_path(professors_student), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger"

= paginate @professors_students
