.page-header
  = link_to courses_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    =t(:back)
  &nbsp
  = link_to edit_course_path(@course), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    =t(:edit)
  %h1=t(:show_course)

%dl.dl-horizontal
  %dt=t(:course_code)
  %dd= @course.course_code
  %dt=t(:course_name)
  %dd= @course.course_name
  %dt=t(:semesters)
  %dd
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th.col-sm-10= t(:semester_name_concat)
        %tbody
          -@course.semesters.each do |semester|
            %tr
              %td
                - if can? :show, semester
                  =link_to semester.semester_name_concat, semester_path(semester)
                - else
                  = semester.semester_name_concat
