= form_for @attempt, html: { class: "form-horizontal", role: "form" } do |f|
  -if @attempt.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= t("errors.template.header", count: @attempt.errors.count, model: Quiz.model_name.human)

      %ul
        - @attempt.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :quiz_id
  = f.hidden_field :student_id, value: current_student.id
  .form-group
    .col-sm-2=t(:question)
    .col-sm-10
      =t(:answer)
      %br
      %ol
        - @attempt.quiz.question_categories.each do |question_category|
          = f.fields_for :responses, question_category.questions.shuffle.map { |q| Response.new( question_id: q.id ) } do |response|
            - question = response.object.question
            %li.attempt-question=question.content
            .attempt-question
              -if question.radio?
                = collection_radio_buttons("attempt[responses_attributes]", question.id, question.answers.shuffle, :id, :content) do |b|
                  .attempt-question
                    = b.label { "#{b.radio_button} #{b.text}" }
              -else
                = collection_check_boxes("attempt[responses_attributes]", question.id, question.answers.shuffle, :id, :content) do |b|
                  .attempt-question
                    = b.label { "#{b.check_box} #{b.text}" }
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
