= form_for @attempt, html: { class: "form-horizontal", role: "form" } do |f|
  -if @attempt.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= t("errors.template.header", count: @attempt.errors.count, model: Quiz.model_name.human)

      %ul
        - @attempt.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :student_id, value: current_student.id
  = f.fields_for :responses, @attempt.quiz_permutation.question_permutations.shuffle do |question_permutation|
    - question = question_permutation.object.question
    %li.attempt-question= "(#{question.question_category.weight} ქულა) - #{question.content}"
    .attempt-question
      -if question.radio?
        = collection_radio_buttons("attempt[responses_attributes]", question.id, question.answers.shuffle, :id, :content) do |b|
          .attempt-question
            = b.label { "#{b.radio_button} #{b.text}" }
      -else
        = collection_check_boxes("attempt[responses_attributes]", question.id, question.answers.shuffle, :id, :content) do |b|
          .attempt-question
            = b.label { "#{b.check_box} #{b.text}" }
  %br
  = f.submit class: "btn btn-primary"
