.page-header
  = link_to attempts_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    =t(:back)
  %h1=t(:taking_quiz)

%button.btn.btn-warning{"data-target": "#countdown", "data-toggle": "collapse", type: "button"}=t(:show_timer)
%br
%br
#countdown.collapse
%br

= render "form"

-time_left = (@attempt.quiz_permutation.quiz.expires_at - Time.current).to_i
:javascript

    function submitFormAndRedirect(){
      $("form").submit();
    }

    $(document).ready( function() {
      $("#countdown").countdown({until: "#{time_left}",
        compact: true,
        format: "MS",
        description: "<i>#{I18n.t(:quiz_will_autosubmit_when_time_expires)}</i>",
        onExpiry: submitFormAndRedirect,
        expiryUrl: "#{attempts_url(I18n.default_locale)}"
      });
    });
