.page-header
  %h1=t(:listing_attempts)

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t(:group_name)
        %th= t(:completed)
        %th

    %tbody
      - @attempts.each do |attempt|
        %tr
          %td= attempt.quiz_permutation.group.name
          %td= raw attempt.completed? ? "&#x2713;" : "&#x2717;"
          %td= link_to t(:take_quiz), edit_attempt_path(attempt)
