= form_for [:professors, @professors_professor], html: { class: "form-horizontal", role: "form" } do |f|
  -if @professors_professor.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@professors_professor.errors.count, "error")} prohibited this professors_professor from being saved:"

      %ul
        - @professors_professor.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label t(:professor_id), class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :professor_id, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :admin, class: 'col-sm-2 control-label'
    -if current_professor.id == f.object.id
      .col-sm-10
        = f.label :label, "#{current_professor.admin? ? "Admin Professor" : "Professor"}" , class: 'control-label'
    -else
      .btn-group{"data-toggle" => "buttons", class: "correct-switch"}
        %label{class: "btn btn-danger #{"active" if f.object.admin} #{"disabled" if current_professor.id == f.object.id}"}
          = f.check_box :admin
          Admin

  .form-group
    = f.label :new_password, class: 'col-sm-2 control-label'
    .col-sm-10= f.text_field :password, type: :password, placeholder: :optional , class: 'form-control'
  .form-group
    = f.label :new_password_confirmation, class: 'col-sm-2 control-label'
    .col-sm-10= f.text_field :password_confirmation, type: :password, placeholder: :optional, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
