.page-header
  = link_to new_professors_professor_path, class: "btn btn-primary #{can_class(:create, Professor)}" do
    %span.glyphicon.glyphicon-plus
    = t(:new_professor)
  %h1= t(:professor_index)

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t(:name)
        %th= t(:professor_id)
        %th= t(:email)
        %th.col-sm-1= "#{t(:admin)}?"
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @professors.each do |professor|
        %tr
          %td= professor.name
          %td= professor.professor_id
          %td= professor.email
          %td.col-sm-1
            = professor.admin ? "\u2713" : "\u2717"
          %td.col-sm-1= link_to t(:show), professors_professor_path(professor), class: "btn btn-primary #{can_class(:show, professor)}"
          %td.col-sm-1= link_to t(:edit), edit_professors_professor_path(professor), class: "btn btn-warning #{can_class(:update, professor)}"
          %td.col-sm-1= link_to t(:destroy), professors_professor_path(professor), data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-danger #{can_class(:destroy, professor)}"

= paginate @professors
