.page-header
  = link_to new_professors_professor_path, class: "btn btn-primary #{can_class(:create, Professor)}" do
    %span.glyphicon.glyphicon-plus
    = :new_professor
  %h1= :professor_index

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= :name
        %th= :professor_id
        %th= :email
        %th.col-sm-1= :admin?
        %th.col-sm-1
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @professors.each do |professor|
        %tr
          %td= professor.name
          %td= professor.professor_id
          %td= professor.email
          %td.col-sm-1
            = professor.admin ? "\u2713" : "\u2717"
          %td.col-sm-1= link_to "Show", professors_professor_path(professor), class: "btn btn-primary #{can_class(:show, Professor)}"
          %td.col-sm-1= link_to "Edit", edit_professors_professor_path(professor), class: "btn btn-warning #{can_class(:update, Professor)}"
          %td.col-sm-1= link_to "Destroy", professors_professor_path(professor), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger #{can_class(:destroy, Professor)}"

= paginate @professors
