.page-header
  = link_to professors_professors_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    Back
  &nbsp;
  = link_to edit_professors_professor_path(@professor), class: "btn btn-primary #{can_class(:update, @professor)}" do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= t(:show_professor)

%dl.dl-horizontal
  %dt Name:
  %dd= @professor.name
  %dt Professor:
  %dd= @professor.professor_id
  %dt Email:
  %dd= @professor.email
  %dt Admin:
  %dd= @professor.admin ? "\u2713" : "\u2717"
